.l-sites_wrapper {
    margin: 2rem auto;
    text-align: center;
    h2 {
        font-size: 1.2rem;
        text-align: left;
    }
    .l-sites_img {
        padding: 5px 10px;
    }
    .row .column {
        margin-bottom: .5rem;
    }
}