.cta-select-members {
	width: 100%;
	height: 300px;
	display: table;
	a {
		background: {
			position: center left;
			repeat: no-repeat;
			size: contain;
			attachment: scroll;
			image: url( #{$imgfolder}cta/select-members.jpg );
			color: $white;
		}
		text-decoration: none;
		@extend .b-shadow-1;
		@extend .text-right;
		@extend .m0;
		@extend .p1;
		@extend .color-black;
		@extend .t-shadow-1;
		display: table-cell;
		height: 300px;
		vertical-align: middle;
		font-size: 1.5rem;
	}
}